.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 38px;
  align-items: center;
  height: 80%;
}

.submit {
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
}

.parse {
  display: flex;
  justify-content: space-between;
  width: 22rem;
}

.input {
  display: flex;
  flex-direction: column;
}

.input > input {
  max-height: fit-content;
  flex-shrink: 0;
  padding: 8px;
  border-radius: 7px;
  border: none;
  background: #e9e9e9;
}

.submit > * {
  margin: 5px 0;
}

button {
  border-radius: 8px;
  background-color: #121726;
  color: white;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

#h1 {
  background: #121726;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  color: white;
  margin: 0;
  padding: 15px;
  width: 28rem;
  height: 2.5rem;
  border-radius: 34px 34px 0px 0px;
}
