.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0rem 5.375rem;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #04070F 0%, #B43703 76.32%, #E84500 98.44%);
    z-index: -2;
}

.form {
    width: 100vw;
    height: 81.8%;
    display: flex;
    justify-content: space-around;
}

.form  > .slogan {
    margin-top: 40px;
    margin-right: -150px;
    height: min-content;
}

.slogan > img {
    height: 68px;
    background: url(./login.jsx)
}